node_modules
/node_modules/.cache
/common/const.js
src/common/.DS_Store
.env
src/.DS_Store
/node_modules
.DS_Store
src/fonts/.DS_Store
.DS_Store
/node_modules
/node_modules/.cache
/build
src/component/CheckSeat_origin.tsx
src/component/CheckSeatChart_origin.tsx
