.calendar-container {
    /* Enables vertical scrolling */
    overflow-y: scroll;
    /* Sets the height to limit the view to one calendar at a time */
    height: 100vh; /* Adjust based on your design needs */
  
    /* Enables scroll snapping */
    scroll-snap-type: y mandatory;
  }
  
  .calendar-item {
    /* Each calendar will snap aligning to the start of the container */
    scroll-snap-align: start;
    height: 100vh; /* Each calendar takes the full height of the container */
  }
  


@font-face {
  font-family: 'KCC-Hanbit';
  src: url('../fonts/hanbit/KCC-Hanbit.otf') format('opentype'),
       url('../fonts/hanbit/KCC-Hanbit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 

h2{
  font-family: 'KCC-Hanbit', sans-serif !important;
  padding: 20px 10px 0px 20px;
}