/* myInfoPage.css */

@font-face {
  font-family: 'KCC-Hanbit';
  src: url('../fonts/hanbit/KCC-Hanbit.otf') format('opentype'),
       url('../fonts/hanbit/KCC-Hanbit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.my-info-page {
    font-family: 'KCC-Hanbit', sans-serif !important;
    background-color: #f0f4f8; /* Background color of the page */
    min-height: 100vh; /* Full viewport height */
    padding: 20px; /* Padding around the content */
  }
  
  .my-info-header {
    /* Styles for the header section */
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    /* Add more styling for the profile section */
  }
  
  .profile-picture {
    border-radius: 50%; /* Circular profile picture */
    width: 80px; /* Profile picture size */
    height: 80px;
    margin-right: 20px;
  }
  
  .user-name {
    font-size: 24px; /* User name font size */
    color: #333; /* User name font color */
    /* Add more styling for the name text */
  }
  
  .schedules-list {
    margin-top: 20px; /* Space between the header and schedules list */
    font-family: 'KCC-Hanbit', sans-serif !important;
  }
  
  .schedule {
    background-color: #fff; /* schedule card background color */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Card shadow */
    border-radius: 10px; /* Card corner rounding */
    padding: 15px; /* Card padding */
    margin-bottom: 15px; /* Space between schedules */
    position: relative;
  }
  
  .floating-action-button {
    position: fixed; /* Fixed position at the bottom right */
    bottom: 20px; /* Distance from bottom */
    right: 20px; /* Distance from right */
    /* Add more styling for the button */
  }
  
  /* Add more styles as needed */
  
.attendance-button {
  position: absolute;
  bottom: 10px; /* 버튼의 상단 위치를 조정합니다. */
  right: 15px; /* 버튼의 오른쪽 위치를 조정합니다. */
  padding: 10px 10px;
  background-color: #4caf50; /* 버튼의 배경색 */
  font-size: 1rem;
  color: white; /* 버튼의 글자색 */
  border: none; /* 테두리 제거 */
  border-radius: 4px; /* 둥근 테두리 */
  cursor: pointer; /* 마우스 오버 시 포인터 변경 */
}

.attendance-button:hover {
  background-color: #45a045; /* 호버 상태의 배경색 변경 */
}


.schedule {
  position: relative;
  /* 기존 스타일 ... */
}

.attendance-status {
  width: 50px;
  height: 24px;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 24px;
  font-size: 0.725rem;
  position: absolute;
  top: 15px;
  right: 15px;
}

.attending {
  background-color: #00B383; /* 참석 - 초록색 */
}

.pending {
  background-color: #FFA500; /* 미정 - 주황색 */
}

.not-attending {
  background-color: #FF6347; /* 불참 - 빨간색 */
}