.onboarding {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
    
  .onboarding .overlap {
    height: 562px;
    left: 0;
    position: absolute;
    top: 282px;
    width: 390px;
  }
  
  .onboarding .path {
    height: 450px;
    left: 195px;
    position: absolute;
    top: 99px;
    width: 195px;
  }
  
  .onboarding .sleepy-african {
    height: 562px;
    left: 0;
    position: absolute;
    top: 0;
    width: 390px;
  }
  
  .onboarding .slide {
    height: 80px;
    left: 148px;
    opacity: 0.94;
    position: absolute;
    top: 448px;
    width: 80px;
  }
  
  .onboarding .overlap-group {
    -webkit-backdrop-filter: blur(46.02px) brightness(100%);
    backdrop-filter: blur(46.02px) brightness(100%);
    background-color: #ffffff26;
    border-radius: 41px;
    height: 82px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 82px;
  }
  
  .onboarding .mobile {
    height: 40px;
    left: 14px;
    position: relative;
    top: 21px;
    width: 54px;
  }
  
  .onboarding .ellipse-wrapper {
    background-image: url(../images/rectangle-18.svg);
    background-size: 100% 100%;
    height: 40px;
    left: 15px;
    position: absolute;
    top: 0;
    width: 24px;
  }
  
  .onboarding .ellipse {
    background-color: #735bf2;
    border-radius: 3px;
    height: 6px;
    left: 9px;
    position: relative;
    top: 30px;
    width: 6px;
  }
  
  .onboarding .vector {
    height: 12px;
    left: 48px;
    position: absolute;
    top: 14px;
    width: 7px;
  }
  
  .onboarding .img {
    height: 12px;
    left: -1px;
    position: absolute;
    top: 14px;
    width: 7px;
  }
  
  .onboarding .slider {
    height: 3px;
    left: 322px;
    position: absolute;
    top: 54px;
    width: 53px;
  }
  
  .onboarding .sub-clipping-group {
    height: 14px;
    left: 129px;
    position: absolute;
    top: 115px;
    width: 133px;
  }
  
  .onboarding .sub {
    color: #01041d;
    font-family: "SF UI  Text-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: -1px;
    letter-spacing: 1px;
    line-height: 14px;
    opacity: 0.7;
    position: absolute;
    text-align: center;
    top: -1px;
    white-space: nowrap;
    width: 131px;
  }
  
  .onboarding .tittle-clipping {
    height: 78px;
    left: 39px;
    position: absolute;
    top: 137px;
    width: 314px;
  }
  
  .onboarding .tittle {
    color: #222b45;
    font-family: "SF UI  Text-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    left: -1px;
    letter-spacing: 0;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 312px;
  }
  
  .onboarding .text-wrapper {
    color: #222b45;
    font-family: "SF UI  Text-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 38px;
  }
  
  .onboarding .overlap-2 {
    height: 86px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 175px;
  }
  
  .onboarding .logo {
    color: #000000;
    font-family: "SF UI  Text-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    left: 49px;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 26px;
    white-space: nowrap;
  }
  
  .onboarding .span {
    color: #000000;
    font-family: "SF UI  Text-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .onboarding .path-2 {
    height: 86px;
    left: 0;
    position: absolute;
    top: 0;
    width: 72px;
  }
  
  .onboarding .oval-copy {
    height: 13px;
    left: 23px;
    position: absolute;
    top: 34px;
    width: 13px;
  }
  

  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
  }
  
  .active {
    position: sticky;
    top: 0;
    transform: scale(1.1); /* 활성 섹션을 강조 */
  }
  