/* myInfoPage.css */
.my-info-page {
  padding: 20px;
  background-color: #f7f7f7;
}

.user-info-section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.user-info-section h2 {
  color: #333;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

.info-item-center{
  position: fixed;
  top: 80px;
  right: 30px;
}


.info-title {
  font-weight: 600;
  color: #666;
}

.info {
  font-weight: 400;
}

.settings-section {
  text-align: center;
}

.settings-btn {
  padding: 10px 20px;
  border: 2px solid #666;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.settings-btn:hover {
  background-color: #666; 
}

.input-field {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 0.925rem;
  text-align: right;
}

.input-field:hover {
  border-color: #888; 
}

/* Focus state for input */
.input-field:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 8px rgba(0, 86, 179, 0.2);
}

.info-title {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.info-item {
  margin-bottom: 20px;
}

/* Button styling */
.settings-btn {
  padding: 10px 15px;
  background-color: #0056b3; /* Matching the focus state color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.settings-btn:hover {
  background-color: #004494; /* Darker blue on hover */
}
